
<div ng-controller="layoutController as $ctrl">
  <nav class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-4 col-lg-4 p-0">
        <div class='logo-wrap p-2 w-100 mt-3'>
          <img src="./dist/styles/images/merkur.win.logo.png" alt="" class="logo">
        </div>
      </div>
       <div class="col-sm-12 col-md-4 col-lg-4 d-none d-md-block d-sm-none">
      
      </div>  

      <div class="col-sm-12 col-md-4 col-lg-4 d-none d-md-block d-sm-none">

         <img src="./dist/styles/images/labels.png" alt="" class="labels p-3 m-3">

      </div>        
    </div>
  </nav>

  <div class="container" ng-controller="layoutController as vm">
    <div ui-view class="row justify-content-center"></div>
  </div>

</div>