//----------------------------
// @_mixins.scss
//----------------------------
//551213
@mixin box-shadow($shadow1, $shadow2:false, $shadow3:false, $shadow4:false, $shadow5:false) {
    $params: $shadow1;
    @if $shadow2 {
        $params: $shadow1, $shadow2;
    }
    @if $shadow3 !=false {
        $params: $shadow1, $shadow2, $shadow3;
    }
    @if $shadow4 !=false {
        $params: $shadow1, $shadow2, $shadow3, $shadow4;
    }
    @if $shadow5 !=false {
        $params: $shadow1, $shadow2, $shadow3, $shadow4, $shadow5;
    }
    -webkit-box-shadow: $params;
    -moz-box-shadow: $params;
    box-shadow: $params;
}

@mixin reset-button() {
    border: none!important;
    border-color: transparent!important;
    padding: 0!important;
    margin: 0!important;
    background: none!important;
    background-color: transparent!important;
    color: #fff!important;
}
   
@mixin preloader() {
    span#preloader {
        background: url($image-path+'/preregister.gif') no-repeat center center;
        display: block;
        width: 32px;
        height: 32px;
        position: absolute;
        top: 5px;
        right: 0px;
    }
}


@mixin reset_mar{
    margin-left: 0px!important;
    margin-right: 0px!important;
}

@mixin reset_pad{
    padding-right: 0px!important;
    padding-left: 0px!important;
}

@mixin reset-input() {
    border: none!important;
    border-color: transparent!important;
    background: none!important;
    background-color: transparent!important;
    color: #fff!important;
    padding: 0;
    margin: 0;
}

@mixin background-image{
     background-size: 100% auto!important;
     //background-size: contain;
     background: transparent;
     background-repeat: no-repeat!important;
     background-repeat-x: no-repeat;
     background-repeat-y: no-repeat;
     background-image:url('./images/background.casino.jpg')!important;

}