//----------------------------
// @global.variables.scss
//----------------------------
//$body-color:    $gray-dark !default;
$brand-primary : #f0a202 !default;
$font-weight-bold: bold !default;
$btn-font-weight: $font-weight-bold !default;
$bkg-color:#551213 !default;
// awesome fonts path
$fa-font-path: './fonts';
$image-path: './images';