//----------------------------
// @global.variables.scss
//----------------------------
//$body-color:    $gray-dark !default;
$brand-primary : #5cb85c !default;
$font-weight-bold: bold !default;
$btn-font-weight: $font-weight-bold !default;
$bkg-color:#0275d8 !default;
// awesome fonts path
$fa-font-path: './fonts';
$image-path: './images';