//@import "compass/css3";
@import '_mixins';
@import '_presets';
@import '_preloader';

//----------------------------
// @layout.scss
//----------------------------

html{
    body{
        &.loaded{

        }

    }
}

home{

    #message, #arrows{
        img{
            width: 100%;
            height: auto;
            text-align: center;
        }
    }

    .register{
        text-align: center;
        font-family: 'ubuntubold';
        background: $orange;
        color:#fff;
        font-size: 1.5rem;
        border: 1px solid #fff;
         @include box-shadow(2px 2px 2px 1px rgba(0, 0, 0, 0.2));
    }
}

nav{
   // background: #fff;
    .logo-wrap{
        max-height: 55px;
        height: 100%;
        display: inline-block;
        background: $brown;
            @include radius(0px 5px 5px 0px);
            @include box-shadow(2px 2px 2px 1px rgba(0, 0, 0, 0.2));

        .logo{
            float: right;
          max-width: 187px;
          height: 100%;
        }
    }

    .labels{
         max-width: 104px;
          height: auto;
    }
}

// STICLY FOOTER  
.angular-app-include {
    min-height: 100%;
    margin-bottom: -155px!important;
    &:after {
        content: "";
        display: block;
    }
}

// background imagfe
.casino-bk{
    position: fixed;
    width: 100%;
    max-width: 1920px;
    height: 100%;
    display: inline-block;
    z-index: -1;
    top: 0;bottom: 0; left: 0;  right: 0;
}

html{
    body{
        &.loaded{
            .casino-bk{
                 @include background-image;
            }           
        }
    }
}


footer {
    a.anch, span.clicker{
        cursor: pointer;
        font-size: 0.7rem;
    }
    overflow: hidden;
    img.sponsor-logos{
        width: 100%;
        max-width: 698px;
        height: auto;
    }
    background-color: #252525;
    *{
        color: #fff;
    }
    p {
        line-height: 15px;
        font-size: 11px;
    }
    height: 150px;
    width: 100%;
    justify-content: center;
    text-align: center;
    border-top: 1px solid #ccc;
    &:after {
        height: 150px;
    }
}



//////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////
//////////////////////////////////////////
// responsive include
@import '_responsive';