<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
  <base href="/">

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="shortcut icon" type="image/png" href="#" />
  <title>Merkur Win</title>
  <script>
    var API_MAIN = "<%=API_MAIN%>";
  </script>

  <!-- inject:css -->
  <!-- endinject -->

</head>

<body class='preloaderbk' ng-class='{"ng-show ng-animate loaded":angularLoader==1}'>

  <div ng-init="angularLoader=1" ng-include="'dist/js/layout.html'" ng-class='{"ng-show ng-animate loaded":angularLoader==1}'
    class='angular-app-include mb-1'></div>

  <div id="preloader" class="overlay-loader" ng-if="false" class='fade-out'>
    <div class="loader-background"></div>
    <img class="loader-icon spinning-cog " src="./dist/styles/cog09.svg" data-cog="cog09">
  </div>
  <div class='clearfix mb-3'></div>


  <footer class='hideFooter container-fluid' ng-class='{"ng-show ng-animate":$root.footerShow==1,"ft-h":tcmobile.is==true}'>
    <div class="row justify-content-center bg-darkgrey">
      <div class="col-sm-12 col-md-8 col-lg-8 p-3 pl-5 pr-5">
        <div class="m-auto">
         <div class="text-wrap m-auto pt-2">
           <p class="px-2 m-0 text center">© 2017 | MERKUR INTERACTIVE ITALIA S.P.A. con socio unico | Società soggetta ad attività di direzione e coordinamento
            esercitata dal socio unico Merkur Interactive GmbH P.IVA 02719361202 | GAD 15099</p>
         </div>
         


          <div class="clearfix px-2 pb-3 d-none d-md-block d-sm-none"><img class="sponsor-logos" src="./dist/styles/images/sponsor.logos.jpg" alt="sponsor logos"></div>

          <div class="clearfix d-none d-md-block d-sm-none">
            <p class="tc pl-4 pr-4" ng-init="tc.is=false" ng-show="tc.is==true">
              Il gioco è vietato ai minori e può causare dipendenza patologica. Consulta le probabilità di vincita
            </p>
          </div>

          <span ng-click="(tc.is==false)? tc.is=true:tc.is=false;" class='clicker clearfix d-none d-md-block d-sm-none'>Si applicano Termini e condizioni</span>

          <!-- mobile -->
          <div class="d-md-none d-ld-none d-sm-block my-3">

            <span ng-click="(tcmobile.is==false)? tcmobile.is=true:tcmobile.is=false;" class='blk mt-2 mb-4 clicker clearfix '>Si applicano Termini e condizioni</span>

            <img class="sponsor-logos w-50" src="./dist/styles/images/sponsor.logos.mobile.jpg" alt="sponsor logos">
          </div>

          <!-- mobile -->
          <div class="d-md-none d-ld-none d-sm-block offset-footer p-3 mt-1" ng-init="tcmobile.is=false" ng-show="tcmobile.is==true">
            <div class="pl-4 pr-4 w-60 m-auto" > 
              <p class="tc mb-1">
                Il gioco è vietato ai minori e può causare dipendenza patologica. Consulta le probabilità di vincita
              </p>
              <img class="sponsor-logos w-25 center" src="./dist/styles/images/labels.png" alt="labels">
            </div>
          </div>

        </div>

  </footer>

  <!-- bower:js -->
  <!-- endbower -->

  <!-- inject:app:js -->
  <!-- endinject -->

  <!-- inject:appcore:js -->
  <!-- endinject -->

  <!-- inject:prototype:js -->
  <!-- endinject -->

  <div class="casino-bk"></div>
</body>

</html>